<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <div class="container">
  
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!----container 2 with news-->
      <div class="container" id="cont-news">
          <div class="row">
              <div class="col-md-12">
                <h2><strong>Latest Mars News:</strong></h2>
                <h3>{{ headline }}</h3>
                <p>{{ text }}</p>
              </div>
          </div>
      </div>
      <!---container containing image and table-->
      <div class="container" id="cont-img">
          <div class="row">
              <div class="col-md-7">
                  <h2><strong>Featured Mars Image</strong></h2>
                  <img src="{{ image }}" alt="Mars_Image" style="width:660px;height:460px;"> 
              </div>
              <div class="col-md-5">
                <h4>Mars Quick Facts</h4>
                <div id="facts_table">{{table |safe}}</div>
              </div>
          </div>
      </div>
      <!----container for hemisphere images-->
      <div class="container" id="hemicont">
      <h2 id="hemispherestext"><strong>Mars Hemispheres</strong></h2>
        <div class="row">
            <div class="col-lg-6 text-center" id="hemslide">            
                <img src={{ hem_img[0].img_url }} class="hemisphericos">
                <h3>{{hem_img[0]["title"]}}</h3>
            </div>
            <div class="col-lg-6 text-center" id="hemslide">
                <img src={{ hem_img[1].img_url }} class="hemisphericos">
                <h3>{{hem_img[1]["title"]}}</h3>
            </div>
        <div class="row">
            <div class="col-lg-6 text-center" id="hemslide">
                <img src={{ hem_img[2].img_url }} class="hemisphericos">
                <h3>{{hem_img[2]["title"]}}</h3>
            </div>
            <div class="col-lg-6 text-center" id="hemslide">
                <img src={{ hem_img[2].img_url }} class="hemisphericos">
                <h3>{{hem_img[2]["title"]}}</h3>
            </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>